@import "../../variables.scss";

.ContainerMenu {
  background: $white;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  position: absolute;
  z-index: 1;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }

  .ContainerLeft {
    display: flex;
    padding: 1em 6em;
    flex-direction: column;
    background-color: $white;

    @media (max-width: 768px) {
      align-items: flex-start;
      padding: 1em 0 2em 2em;
    }

    .ContainerCloseMenu {
      display: flex;
      padding-bottom: 5em;
      gap: 20px;
      cursor: pointer;
      align-items: center;

      .IconLego {
        width: 48px;
        height: 48px;

        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
    }

    .ContainerIconsSpans {
      display: flex;
      flex-direction: column;
      gap: 20px;
      cursor: pointer;

      div {
        &:hover {
          background-color: $blueCategories;
        }
      }
    }

    div {
      display: flex;
      gap: 16px;
    }

    span {
      font-size: 1.75rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
      cursor: pointer;

      li {
        font-size: 1.25rem;
        &:hover {
          background-color: $blueCategories;
        }
      }
    }

    .ContainerThemes {
      padding: 3em 2em 1em 4em;

      span {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
  }

  .ContainerRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      background: white;
    }
  }

  .gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $lightGrey;
    &:hover {
      background-image: url("../../assets/Texture.png");
    }
  }
}
