@import "../../variables.scss";

.header {
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
      justify-content: space-between;
    }

    .IconLego {
      width: 48px;
      height: 48px;
      cursor: pointer;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }

    .IconCategories {
      width: 40px;
      height: 33px;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }

      @media (max-width: 768px) {
        width: 32px;
        height: 27px;
      }
    }

    .ContainerCategories {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 5px;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: $blueHover;
      }
    }

    div {
      display: flex;
      gap: 20px;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 20px;

      @media (max-width: 1170px) {
        display: none;
      }

      a:hover {
        color: $blueHover;
        cursor: pointer;
      }
    }

    .ContainerIconsSpans {
      @media (max-width: 768px) {
        .ContainerMessage {
          display: none;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        align-items: center;

        span:hover {
          cursor: pointer;
          color: $blueHover;
        }
      }

      .IconMessage {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// .MenuMobile {
//   display: flex;
//   flex-direction: column;
//   list-style: none;
//   position: absolute;
//   background: white;
//   width: 100%;
//   padding: 1em;
//   top: 80px;
//   right: 0;
//   gap: 20px;

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }
