@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$white: #ffffff;
$grey: #b1b1b1;
$lightGrey: #e0e0e0;
$mediumGrey: #808080;
$black: #000000;
$blueHover: #006cb7;
$blueCategories: #bbdcf5;
$orange: #ee7500;
$green: #00963e;
$pink: #fc36a5;
$yellow: #ffd500;
$red: #e3000b;

$principalFont: "PT Sans", sans-serif;
